.wp_css_js_code_btn { margin-top: 15px!important; }
.separator_ { margin: 15px 0; padding: 15px; background-color: #f3f3f3; }
.wp_css_js_minify { margin-top: 15px!important; margin-left: 10px!important; }
.wp_css_js_globals .separator_ { background-color: #ffffff!important; }